html {
  font-size: 100%;
  font-family: 'Droid Serif', serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  color: white;
}
ol {
  margin: 2em;
}
ul {
  margin: 0 3em;
}
h3{
  margin: 1.2rem 0 0.5rem 0;
}
body {
  background: skyblue; 
  background: linear-gradient(145deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%)
}
article {
  width: 85%;
  margin: auto;
  background-color: white;
  line-height: 1.8rem;
  padding: 2rem 4rem;
  }
h2 {
  line-height: 2em;
  padding: 1.3rem 0;
  color: grey;
}
.first::first-letter {
  font-size: 5rem;
  font-family: cursive
}
footer {
  margin: 1rem 0;
  background-color: palegreen;
  padding: 1rem 0; 
}
footer ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
footer li {
  display: inline-block;
}
footer i {
  color: deeppink;
}